@mixin CornerstoneUI_accordion() {
	.accordion {
		.accordion-title {
			width: 100%;
			padding: 0.75rem 1rem;
			display: block;
			font-size: 1.15rem;
			font-weight: 300;
			cursor: pointer;
			&:hover,
			&:focus {
				background-color: rgba(0, 0, 0, 0.1);
				text-decoration: none;
			}
			@include cs-breakpoint(sm) {
				font-size: 1.3rem;
			}
			.open-indicator {
				display: block;
				width: 0.75em;
				height: 0.75em;
				float: right;
				margin-top: 0.45rem;
				margin-right: 0.45rem;
				transform: rotate(180deg);
				transition: transform .3s;
				svg {
					display: block;
					width: 0.75em;
					height: 0.75em;
				}
			}
		}
		.accordion-content {
			transition: height .3s, margin .3s;
			overflow: hidden;
			.accordion-content-wrap {
				padding: 1rem;
			}
		}
	}
	.cs-js {
		.accordion-item:not(.pre-opened):not(.opened-item) {
			.accordion-title {
				.open-indicator {
					transform: rotate(0deg);
				}
			}
			.accordion-content {
				margin: 0;
				height: 0 !important;
			}
		}
	}
}