@mixin CornerstoneUI_blockquote() {
	.blockquote {
		background: csColor('gray', 'light');
		border-left: 5px solid csColor('gray', 'base');
		padding: 1rem;
		hr {
			border: 0;
			border-top: 1px solid csColor('gray', 'base');
		}
		p {
			a {
				color: csColor('gray', 'base');
			}
		}
		footer {
			text-align: right;
			color: csColor('gray', 'dark');
			&:before {
				content: '—';
				margin-right: 0.25rem;
			}
		}
		cite {
			a {
				color: csColor('gray', 'dark');
				text-decoration: underline;
				&:hover {
					color: csColor('gray', 'dark-2x');
				}
			}
		}
		&.blockquote-thin {
			border-left: 2px solid csColor('gray', 'base');
		}
		&.blockquote-thick {
			border-left: 10px solid csColor('gray', 'base');
		}
		&.text-center {
			footer {
				text-align: center;
			}
		}
		&.underline-cite {
			cite {
				text-decoration: underline;
			}
		}
		@each $name, $colors in $cs_colors {
			@if $name != 'generic' and $name != 'gray' {
				&.#{$cs_prefix}blockquote-#{$name} {
					border-color: csColor($name, 'base');
					p {
						a {
							color: csColor($name, 'base');
						}
					}
				}
			}
		}
	}
}