@mixin CornerstoneUI_colors() {
	@each $name, $colors in $cs_colors {
		@if $name == 'generic' {
			@each $accentName, $accent in $colors {
				.text-#{$accentName} {
					color: $accent;
				}
				.background-#{$accentName} {
					background-color: $accent;
				}
				.border-#{$accentName} {
					border: 1px solid $accent;
				}
			}
		}
		@else {
			@each $accentName, $accent in $colors {
				@if $accentName == 'base' {
					.text-#{$name} {
						color: $accent;
					}
					.background-#{$name} {
						background: $accent;
					}
					.border-#{$name} {
						border: 1px solid $accent;
					}
					a.animated.text-#{$name} {
						&:after {
							border-color: $accent;
						}
					}
				}
				@else {
					.text-#{$name}-#{$accentName} {
						color: $accent;
					}
					.background-#{$name}-#{$accentName} {
						background: $accent;
					}
					.border-#{$name}-#{$accentName} {
						border: 1px solid $accent;
					}
					a.animated.text-#{$name}-#{$accentName} {
						&:after {
							border-color: $accent;
						}
					}
				}
			}
		}
	}
}