@mixin CornerstoneUI_tooltips() {
	.tooltip {
		position: fixed;
		padding: 0.75rem;
		.tooltipContent {
			position: relative;
			background-color: #333;
			padding: 0.5rem;
			border-radius: 3px;
			color: #fff;
		}
		&[data-position="top"],
		&[data-position="bottom"] {
			max-width: calc(100vw - 8px);
		}
	}
}